<%= render :partial => "left_nav" %>

<div id="center">
	<p>
		Let's authenticate yourself to Facebook.
		Click 
		<%= link_to "this", oauth_start_url, :style=>"background-color:rgb(200,200,200);" %>
	</p>
	

</div> <!-- EO #center -->






