<p>
	<% if current_user %>
	You are logged in
	<% else %>
	You are not logged in 
	<% end %>
</p> 

<p>
	<% if @user %>
	However, we track you<br />
	<%= @user.class %>
	<br />
	<%= @user.id %>
	<br />
	Stranger_id = <%= session[:stranger_id] %>
	<% else %>
	Fuck, not tracked
	<% end %>
</p>