<%= render :partial => "plot_graph" %>
<div id='left'>
	<p class="opinion">
		<img src="images/left_first.png" />
		<cite>"All the scrapped groups are shown here"</cite>
	</p>
	
	<p class="friends-opinion">
		They are called <span style="font-weight:bold;">scrapD</span>
	</p>
	<!-- <p>
		<% if current_user %>
		You are logged in
		<% else %>
		You are not logged in 
		<% end %>
	</p> -->
</div>


<div id='center' style="width:700px;  ">
	<div id="item-<%= @item.id %>" style="height:300px; width:650px;">
	</div>
</div>


<!-- <p>
	<% data_value_hash = @item.uploaded_item.extract_yaml %>
	<%= render_categories( data_value_hash["dates".to_sym] ) %>
</p>
<p>
	The other one <br />
	<%= render_data( data_value_hash['posting'.to_sym] ) %>
</p> -->
<!-- <div id='right'>
	<p>
		More qTies
	</p>
	<ul class="clearfix">
		<li>
			<img src="images/next_icon1.png">
		</li>
		
		<li>
			<img src="images/next_icon1.png">
		</li>
		
		<li>
			<img src="images/next_icon1.png">
		</li>
		

	</ul>
</div> -->