<div id='left'>
	<p class="opinion">
		<img src="/images/left_first.png" />
		<cite>"Over here, you can add the facebook group URL to be scrapped"</cite>
	</p>
	
	<p class="friends-opinion">
		However, you have to be <span style="font-weight:bold;">authenticated </span> by Facebook 
	</p>
	<!-- <p>
		<% if current_user %>
		You are logged in
		<% else %>
		You are not logged in 
		<% end %>
	</p> -->
</div>