<%= render :partial => "left_note"%>
<div id="center">
	<div id="steps">
	<% if current_user.fb_access_token_invalid? %>
		<%= render :partial =>"invite_oauth" %>
	<% else %>
		<% if params[:from_fb_auth] and params[:from_fb_auth] == "true" %>
			<div style="background-color:red; color:black;">
				Welcome back! Now, we are ready to rock and roll!
			</div>
		<% end %>
		<%= render :partial => "add_task"%>
	<% end %>
	</div><!-- EOF #steps -->

</div>